#wrapper {
  margin:auto;
  width:1440px;
}
input {
  width:50px;
}
svg {
  border:1px solid gray;
  border-radius:10px;
  height:600px;
  width:600px;
  margin:5px;
}
#linechart {
  width:800px;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
}

.countrymap {
  stroke: black;
}
/*div.tooltip { 
    position:absolute;     
    text-align: center;     
    width: 60px;          
    height: 50px;         
    padding: 2px; 
    opacity: 0.9;      
    font: 12px sans-serif;    
    background: lightgray; 
    border:4px cyan;    
    border-radius: 4px;     
    pointer-events: none;
}*/
.tooltip {
        position: absolute;
        margin: 0;
        vertical-align: middle;
        line-height: 1.6em;
        padding: 6px;
        font-size: 13px;
        background: white;
        border: thin solid gray;
        white-space: pre-wrap;
        border-radius: 3px;
        pointer-events: none;

      }
/*.hidden
{
  display:none;
}*/
.x-axis line{
  stroke:#fff;
}
.x-axis path{
  stroke:#fff;
}

h2, h3 {
  text-align:center;
}
.line {
        fill: none;
        stroke: black;
        stroke-width: 2px;
      }
